body {
    font-family: "Palatino", sans-serif;
    font-weight: bold;
    background: #fcfefc;
}

h2 {
    color: rgba(97, 32, 85);
    font-weight: bolder;
}

.game-button {
    max-height: 300px;
    cursor: pointer;
    border-radius: 50%;
}

#game-title {
    border-width: .35rem !important;
    color: white;
    background: rgba(97, 32, 85);
    border-color: white !important;

}

#start-button {
    background: rgb(137, 145, 142);
    border-color: rgba(97, 32, 85);
    border-radius: 50%;
    height: 293px;
    width: 293px;
    border-width: 7px;
    font-size: 30px;
}