html, body {
    height: 100%;
}

body, #chat-heading, #submit-message {
    font-family: "Palatino", sans-serif;
    font-weight: bold;
    background: #fcfefc;
}

h2 {
    color: rgba(97, 32, 85);
    font-weight: bolder;
}

#not-chat {
    min-height: 100%;
    margin-bottom: -300px;
}

.game-button {
    max-height: 300px;
    cursor: pointer;
    border-radius: 50%;
}

#game-title {
    color: #fcfefc;
}

#start-button {
    background: rgb(137, 145, 142);
    border-color: rgba(97, 32, 85);
    border-radius: 50%;
    height: 293px;
    width: 293px;
    border-width: 7px;
    font-size: 30px;
}

#game-title, #cant-play-header, #cant-play-close, #chat-heading, #message-sender {
    background: rgba(97, 32, 85);
}

.push {
    height: 300px;
}

#chat-div {
    height: 350px;
}

#chat-heading {
    color: #fcfefc;
    height: 20%;
}

#chat-area {
    overflow: scroll;
    height: 67.5%;
}

#message-sender {
    height: 12.5%;
}

#add-message {
    width: 85%;
}